html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}
#yui3-css-stamp.cssreset{display:none}
a{text-decoration: none;}
body{
	font-family: "微软雅黑";
	font-size: 14px;
}

section{
	/*border:1px solid;*/width:1200px;
	height:873px;position: relative;
	top:-140px;left:360px;
   /* background-color:#ffffff;*/
}
.scct{
	padding-left:50px;
	height:59px;
	width:1150px;
	margin:0px;
	line-height:60px;
	font-size:18px;
	background-color:rgba(255,255,255,0.5);
}
.scct_1{background-color:#ffffff; }
.section_right{
	height:320px;
	width:204px;
	background-color:#d0dfed;
	position: relative; 
}
.ulr_1{
	width:204px;
	height:41px;
	background-color:rgb(171,197,219);
	position: relative;top:-5px; 
}
.section_right>h4{
	height:83px;
	width:204px;
	font-size:20px;
	text-align: center;
	line-height: 85px;
}
.section_right>ul{
	list-style: none;
	float:left;
	width:204px;
	height:41px;
}
.section_right>ul>li{
	float: left;
	width:204px;
	height:41px;
	line-height:45px;
	text-align: center;
}
.section_1{
	width:386px;
	height: 616px;
	position: relative;
	top:-270px;left: 340px;
}
.section_1>ul{
	list-style: none;
	float: left;
    font-size:25px;
}
.section_1>ul>li{
	font-size: 16px;
	float:left;
	width:384px;
	height: 15px;
	margin:10px;
	/*color:#ccc;*/
}
.section_2{
	height: 552px;
	width:84px;
	position: relative;
	left:1010px;
	top:-772px;
}
.section_2>ul{
	list-style: none;
	float: left;
}
.section_2>ul>li{
	font-size: 16px;
	float:left;
	width:84px;
	height: 15px;
	margin:10px;
	position: relative;
	left: -10px;
}
.img_1{
	position: relative;top:-739px;
	left:440px;
}
/*脚部*/







