html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}
a{text-decoration: none;}
#yui3-css-stamp.cssreset{display:none}
/*头部开始*/

/*头部结束*/

/*内容开始*/
.section{
	width: 1092px;
	height: 900px;
	/*border: 1px solid #000;*/
	margin: 0 auto;
	position: relative;
	top: -63px;
}
.section_top{
	width: 1092px;
	height: 63px;
	/*border: 1px solid #000;*/
	background-color: rgba(255,255,255,0.6);
}
.section_top p{
	display: inline;
	line-height: 60px;
	font-style: "华文仿宋";
	font-size: 18px;
}
.section_top1{
	margin-left: 34px;
}
.section_top2 a{
	color: #000;
}
.section_rightfirst{
	width: 993px;
	height: 736px;
	/*border: 1px solid #000;*/
	float: right;
	background-color: #fff;
	position: relative;
}
h1{
	position: absolute;
	top:25px;
	left: 48px;
	font-size: 24px;
	font-weight: bold;
	margin-left: 220px;
}
.section1{
	height: 134px;
	width: 763px;
	/*border: 1px solid #000;*/
	border-bottom: 1px dotted #000;
	position: absolute;
	right: 174px;
	top:139px;
}
.section ul li{
	height: 27px;
}
.section1_left{
	width: 300px;
	height: 120px;
	/*border: 1px solid #000;*/
	float: right;
	margin-top: -135px;
}
.section1_left ul li{
	padding-left: 174px;
}
.section2{
	height: 134px;
	width: 763px;
	/*border: 1px solid #000;*/
	border-bottom: 1px dotted #000;
	position: absolute;
	right: 174px;
	top:282px;
}
.section3{
	height: 144px;
	width: 763px;
	/*border: 1px solid #000;*/
	border-bottom: 1px dotted #000;
	position: absolute;
	right: 174px;
	top:426px;
}
/*内容结束*/

/*页码开始*/
.main_bottom{
	width: 350px;
	height: 120px;
	/*border: 1px solid #000;*/
	margin: 0 auto;
}
#main li{
	float: left;
	width: 42px;
	height: 42px;
	border: 1px solid #000;
	line-height: 42px;
	text-align: center;
	margin-right: 5px;
	color: #607087;
	margin-top: 60px;
}
#main #first_main{
	background-color: #607087;
	color: #fff;
}
/*页码结束*/







