*{margin:0; padding: 0;}

/*正文开始*/
body,html{ width: 98%; height: 98%; background-color: #eee; border: 1px solid #eee;}
.sankeBox{
	width: 700px;
	height: 400px;
	background: #ddd url(bg.png);
	border: 1px solid #fff;
	margin:100px auto;
	position:relative;
}
.sankeBox span{
	font-size: 100px;
	color:#fff;
	text-align: center;
	line-height: 400px;
    margin-left: 50px;
    background-color: #ddd;
}
.sankeBox div{
	width: 20px;
	height: 20px;
	border-radius: 7px;
	position: absolute;
	background-color: #f00;
}
